 
<form action="/channels/{{ post.channel._id }}/{{ post._id }}/comment" method="POST">
  <label for="input-content"></label>
  <textarea class="commentArea" name="content" id="input-content" placeholder="Your comment here..."></textarea>
  <button style="font-size: 1em" class="editBtn">Submit Comment</button>
</form>