<header class='formEdit'>
  <h2>Add new Event</h2>
</header>

<form action="/encounter/create" method="POST"class='formEdit'>
  <button type="submit" class="btn btn-primary"> Submit </button>
  <div class="form-group">
    <label for="eventName"> Event Name </label>
    <input type="text" name='eventName' id='eventName' placeholder="insert the event name" required class="form-control">
  </div>

  <div class="form-group">
    <label for="Latitude Longitude"> Location </label>
    <input type="number" placeholder="Latitude" name="latitude" step="any" class="form-control">
    <br>
    <input type="number" placeholder="Longitude" name="longitude" step="any" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="date"> Event Date </label>
    <input type="datetime-local" name='date' id='date' required class="form-control">
  </div>

  <div class="form-group">
    <label for="numberOfPlayer"> Number of Players </label>
    <input type="number" name='numberOfPlayer' id='numberOfPlayer' min="2" required value="2" class="form-control">
  </div>

  <div class="form-group">
    <label for="gameList"> Select your Game </label>
    <select type="text" name='gameList' id='gameList' required class="form-control">
      {{#each gameList as |item|}}
      <option value="{{item}}">{{item}}</option>
      {{/each}}
  </div>

  <button type="submit" class="btn btn-primary"> Submit </button>
  
</form>