<header >
  <h2>Add new Event</h2>
</header>

<form action="/encounter/create" method="POST">
  
  <div>
    <label for="eventName"> Event Name </label>
    <input type="text" name='eventName' id='eventName' placeholder="insert the event name" required>
  </div>

  <div>
    {{>map}}
  </div>
  
  <div>
    <label for="date"> Event Date </label>
    <input type="datetime-local" name='date' id='date' required>
  </div>

  <div>
    <label for="numberOfPlayer"> Number of Players </label>
    <input type="number" name='numberOfPlayer' id='numberOfPlayer' min="2" required value="2">
  </div>

  <div>
    <label for="gameList"> Select your Game </label>
    <select type="text" name='gameList' id='gameList' required>
      {{#each gameList as |item|}}
      <option value="{{item}}">{{item}}</option>
      {{/each}}
    </select>
  </div>
  <button type="submit"> Submit </button>
</form>

<aside>
  {{>sidebar}}
</aside>