<section class="sectionComments">

<div class="content background">
{{#each encounters}}
<a href="/encounter/single/{{ _id }}" style="text-decoration: none">
<aside class="channelProp">
<p>{{eventName}}, number of player: {{numberOfPlayer}}</p><p>{{date "dddd, DD - MMM - YYYY HH:mm"}}</p>
</aside></a>
{{/each}}
</div>


<aside class="asideBar">
  <a href="/encounter/create" ><button class="asideBtn">Create encounter</button></a>
  {{>sidebar}}
</aside>

</section>