


<section class="sectionComments">

<div class="content background">
{{#each encounters}}
<a href="/encounter/single/{{ _id }}" style="text-decoration: none">
<aside class="channelProp">
{{eventName}}, {{date}} , number of player: {{numberOfPlayer}}
</aside></a>
{{/each}}
</div>


<aside class="asidebar">
  <a href="/encounter/create" ><button class="asideBtn">Create encounter</button></a>
  {{>sidebar}}
</aside>

</section>