


<section class="sectionComments">

<div class="content">
{{#each encounters}}
<a href="/encounter/single/{{ _id }}">
<aside class="channelProp">
eventName: {{eventName}}</a>, date: {{date}} ,numberOfPlayer: {{numberOfPlayer}}
</aside>
{{/each}}
</div>


<aside class="asidebar">
  <a href="/encounter/create" ><button>Create encounter</button></a>
  {{>sidebar}}
</aside>

</section>