<div class="signUpMain">
  <div class="imageSignUp"><img src="/images/dy play one color.png" alt="logo"></div>


  <form action="/authentication/sign-up" method="POST" enctype="multipart/form-data">
    <div class="formMain">
      <div class="signUpName">
        <label for="input-name">Name</label>
        <input type="text" id="input-name" name="name" placeholder="Your Name" />
        <label for="input-email">Email</label>
        <input type="email" id="input-email" name="email" placeholder="Your Email" />
        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="A Strong Password" />
      </div>
      <div class="inputPicture">
        <label for="input-picture">Profile picture:<br></label>
        <input type="file" accept="image/*" id="input-picture" name="picture" />
      </div>
    </div>
    <div class="gameYouPlay">
      <h2>Game You Play</h2>
      <div class="listGamesSignUp">
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Dungeons and Dragons</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Monopoly</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Catan</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Qwirkle</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Risk</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Axis and Allies</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Cluedo</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Battleship</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Jenga</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Trivial Pursuit</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Twister</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Blokus</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Connect Four</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Operation</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Cards Against Humanity</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Exploding Kittens</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Cranium</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Life</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Pictionary</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Mikado</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option1">
          <label class="form-check-label" for="inlineCheckbox">Chess</label>
        </div>
        <div class="formInline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox" value="option2">
          <label class="form-check-label" for="inlineCheckbox">Other</label>
        </div>

      </div>
    </div>
    <div class="mapSignUp">
      <img src="/images/Mapa-Lisboa-goole-maps.jpg" alt="">
    </div>
    <button>Sign Up</button>
  </form>
</div>