<section class="sectionComments">

<div class='content'>
  <div class="indexText"><img class="indexImg" src="/images/dy play one color.png" alt="logo"></div>
<div class="map">
<h2>Create Your Account</h2>
  <div style="margin: 2.5% auto;">
  <a href="/authentication/google"><button style="margin-bottom: 1.5%; font-size: large" class="editBtn">Sign-up With Google</button></a>
  </div>

  <form action="/authentication/sign-up" method="POST" enctype="multipart/form-data">
    <div>
      <div>
        <label for="input-name" class="aAuthor">Name</label>
        <input type="text" class="commentArea" id="input-name" name="name" placeholder="Your Name" style="margin-bottom: 1.5%;"/>
        <label for="input-email"class="aAuthor">Email</label>
        <input type="email" class="commentArea"id="input-email" name="email" placeholder="Your Email" style="margin-bottom: 1.5%;"/>
        <label for="input-password" class="aAuthor">Password</label>
        <input type="password" class="commentArea" name="password" id="input-password" placeholder="A Strong Password" style="margin-bottom: 1.5%;"/>
      </div>
      <div>
        <label for="input-picture" class="aAuthor">Profile picture:<br></label>
        <input type="file" class="asideBtn commentArea" accept="image/*" id="input-picture" name="picture" required="true" style="font-size: 0.8em; margin-bottom: 1.5%;"/>
      </div>
    </div>
    
    <div class="gameYouPlay commentBox" style="margin-bottom: 2.5%;">
    <h4>Game You Play</h4>
    <div class="input-group mb-3">
      {{#each gameList as |item|}}
      <div class="input-group-prepend" style="margin: 1.5%;">
        <div>
        <input name="{{item}}" type="checkbox" id="inlineCheckbox">
        <label class="form-check-label" for="inlineCheckbox" >{{item}}</label>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="map commentBox" style="margin: 2.5% 0%;">
    <h4>Place Your Location</h4>
    <div style="margin: 0% auto;">
    {{>map}}
    </div>
  </div>


  <div class='commentBox'>
    <label class="aAuthor"  for="inputDescription">About you:</label>
    <textarea class="commentArea" name="description" id="inputDescription" cols="30" rows="10"
      required="true" placeholder="Write soething nice about you..."></textarea>
  </div>
  <div class="commentBox">
  <button style="font-size: 1em;" class="asideBtn"> Submit </button>
  </div>
</form>

 
</div>

</section>