<section class="sectionComments">

  <div class="content">

    <div class="map sectionComments" style="margin: 5% auto;>
      <img src="{{user.picture}}" alt="profile picture" style="max-width: 40%; margin-right: 2%">
    </div>

    <div class="map sectionComments" style="margin-bottom: 5%;  justify-content: space-around;">
      <h3>Favorite games:</h3>
      <p>{{user.games}}.</p>
      <h3>About you:</h3>
      <p>{{user.description}}</p>
    </div>

    </div>

<aside class="asideBar">
  {{> sidebar}}
</aside>
</section>