<h1>
This is the channel edit page

</h1>

{{#with data}}
<form method="POST" enctype="multipart/form-data">
  <label for="input-name">Channel Name</label>
  <input type="text" name="name" id="input-name" value="{{name}}">
  <label for="description">Desciption</label>
  <textarea name="description" id="description">{{description}}</textarea>
  <label for="picture">Picture</label>
  <input type="file" name="picture" id="picture" accept="image/*" multiple />
  <button>Edit Channel</button>
</form>   
{{/with}}