<h1>
  this is the Page showing all the channels
  </h1>
<a href="/channels/create"><Button>Create a new channel</Button></a>
<br>
  {{#each data}}
  <a href="/channels/{{_id}}">{{name}}</a>
  {{timestamp}}
  <br>
  {{/each}}

