<h1>Channels</h1>
<section class="sectionComments">


  <div class="content background">

    {{#each data}}
   <a style="text-decoration: none" href="/channels/{{_id}}"><aside class="channelProp">{{name}}</aside></a>
          
    {{/each}}
  </div>

  <div>
    <aside class="asideBar">
      <a href="/channels/create"><Button class="asideBtn">Create a new channel</Button></a>
     {{>sidebar}}
    </aside>
  </div>
</section>