<h1>Channels</h1>
<section class="sectionComments">


  <div class="content">

    {{#each data}}
    <aside class="channelProp">
      <a href="/channels/{{_id}}">{{name}}</a>
      {{timestamp}}
    </aside>
    {{/each}}
  </div>

  <div>
    <aside>
      <a href="/channels/create"><Button>Create a new channel</Button></a>
     {{>sidebar}}
    </aside>
  </div>
</section>